### THIS NOTEBOOK SHOWS THE ACCURACY SCORE TESTS FOR THE TEXTBLOB AND NLTK MODELS

In [84]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from project_functions import *
df = pd.read_excel('test_Set_4000_total.xlsx', sheetname='test_set_4000_total')
df.head()

C:\Users\mariu\anaconda\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  parse_dates=False,

,id,date,sentiment,text,language
0,468324,2019-01-19 11:41:00,neu,Come Comprare Bitcoin su CryptoLocalATM htt...,en
1,345757,2019-01-14 15:51:00,neg,I think you mean Crypto in general. Bitcoin ...,en
2,470091,2019-01-19 13:27:00,neu,"Cointelegraph ""A group of academics from top U...",en
3,123969,2019-01-05 19:37:00,pos,And #bitcoin is the one and only. #bitcoincas...,en
4,542464,2019-01-22 14:01:00,pos,# XLM Buy at #KuCoin and sell at #Bitexen . ...,en

In [85]:
type(df["text"][1])

str

In [86]:
df = df_removal_function(df)

In [87]:
df["text"][2]

'Cointelegraph "A group of academics from top U.S. universities launch a crypto that would outstrip Bitcoin and Visa in terms of procesing times pic.twiter.com/BDkrfGt "'

In [88]:
df=df_tokenize_dataframe(df)

In [89]:
df = df_remove_stopwords_dataframe(df)
df.head()

,id,date,sentiment,text,language
0,468324,2019-01-19 11:41:00,neu,"[come, comprare, bitcoin, su, cryptolocalatm, ...",en
1,345757,2019-01-14 15:51:00,neg,"[think, mean, crypto, general, bitcoin, heavil...",en
2,470091,2019-01-19 13:27:00,neu,"[cointelegraph, group, academics, top, u, univ...",en
3,123969,2019-01-05 19:37:00,pos,"[bitcoin, one, bitcoincash, bitcoinsv, shitcoins]",en
4,542464,2019-01-22 14:01:00,pos,"[xlm, buy, kucoin, sel, bitexen, ratio, buy, k...",en

In [90]:
df = df_untokenize_dataframe(df)

In [91]:
df.to_csv('test_set_normalized.csv', sep='|')

In [92]:
df.head()

,id,date,sentiment,text,language
0,468324,2019-01-19 11:41:00,neu,come comprare bitcoin su cryptolocalatm youtu ...,en
1,345757,2019-01-14 15:51:00,neg,think mean crypto general bitcoin heavily infl...,en
2,470091,2019-01-19 13:27:00,neu,cointelegraph group academics top u universiti...,en
3,123969,2019-01-05 19:37:00,pos,bitcoin one bitcoincash bitcoinsv shitcoins,en
4,542464,2019-01-22 14:01:00,pos,xlm buy kucoin sel bitexen ratio buy kucoin se...,en

In [93]:
from textblob import TextBlob

In [94]:
def sentiment_textblob(text):
    analyze = TextBlob(text)

    if analyze.polarity == 0.0:
        sentiment_value = "neu"
        return sentiment_value, analyze.polarity
    elif analyze.polarity < 0.0:
        sentiment_value = "neg"
        return sentiment_value, analyze.polarity
    elif analyze.polarity > 0.0:
        sentiment_value = "pos"
        return sentiment_value, analyze.polarity

In [95]:
def add_sentiment_textblob(dataframe):
    text_column = dataframe["text"]
    sentiment_textblob_list = []

    for i in text_column:
        sentiment_value, polarity = sentiment_textblob(i)#sentiment_textblob(i)
        sentiment_textblob_list.append(sentiment_value)

    dataframe["sentiment_textblob_2"] = sentiment_textblob_list
    
    return dataframe

In [96]:
df = add_sentiment_textblob(df)
df.head()

,id,date,sentiment,text,language,sentiment_textblob_2
0,468324,2019-01-19 11:41:00,neu,come comprare bitcoin su cryptolocalatm youtu ...,en,neu
1,345757,2019-01-14 15:51:00,neg,think mean crypto general bitcoin heavily infl...,en,neg
2,470091,2019-01-19 13:27:00,neu,cointelegraph group academics top u universiti...,en,pos
3,123969,2019-01-05 19:37:00,pos,bitcoin one bitcoincash bitcoinsv shitcoins,en,neu
4,542464,2019-01-22 14:01:00,pos,xlm buy kucoin sel bitexen ratio buy kucoin se...,en,neu

In [97]:
df = df.dropna()

In [98]:
df = df.reset_index(drop=True)

In [99]:
correct = 0
false = 0
for i in range(len(df["sentiment"])):
    #print(i)
    if df["sentiment"][i] == df["sentiment_textblob_2"][i]:
        correct = correct+1
    else:
        false = false+1
print('the accuracy of TextBlob on our data is:' , correct/(correct +false))

the accuracy of TextBlob on our data is: 0.5028936947913494

In [100]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
def sentiment_nltk(text):
    sia = SentimentIntensityAnalyzer()

    if sia.polarity_scores(text)["compound"] == 0.0:
        sentiment_value = "neu"
        return sentiment_value, sia.polarity_scores(text)["compound"]
    elif sia.polarity_scores(text)["compound"] < 0.0:
        sentiment_value = "neg"
        return sentiment_value, sia.polarity_scores(text)["compound"]
    elif sia.polarity_scores(text)["compound"] > 0.0:
        sentiment_value = "pos"
        return sentiment_value, sia.polarity_scores(text)["compound"]

In [101]:
def add_sentiment_nltk(dataframe):
    text_column = dataframe["text"]
    sentiment_nltk_list = []

    for i in text_column:
        sentiment_value, polarity = sentiment_nltk(i)#sentiment_textblob(i)
        sentiment_nltk_list.append(sentiment_value)

    dataframe["sentiment_nltk"] = sentiment_nltk_list
    
    return dataframe

In [102]:
df = add_sentiment_nltk(df)
df.head()

,id,date,sentiment,text,language,sentiment_textblob_2,sentiment_nltk
0,468324,2019-01-19 11:41:00,neu,come comprare bitcoin su cryptolocalatm youtu ...,en,neu,neu
1,345757,2019-01-14 15:51:00,neg,think mean crypto general bitcoin heavily infl...,en,neg,neu
2,470091,2019-01-19 13:27:00,neu,cointelegraph group academics top u universiti...,en,pos,pos
3,123969,2019-01-05 19:37:00,pos,bitcoin one bitcoincash bitcoinsv shitcoins,en,neu,neu
4,542464,2019-01-22 14:01:00,pos,xlm buy kucoin sel bitexen ratio buy kucoin se...,en,neu,neu

In [103]:
correct = 0
false = 0
for i in range(len(df["sentiment"])):
    #print(i)
    if df["sentiment"][i] == df["sentiment_nltk"][i]:
        correct = correct+1
    else:
        false = false+1
print('the accuracy of NLTK on our data is:' , correct/(correct +false))

the accuracy of NLTK on our data is: 0.44319220225403594

(3283, 8)